    /*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
    
    html {
        box-sizing: border-box;
        font-size: 1rem;
    }
    
    *,
    *:before,
    *:after {
        /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
        box-sizing: inherit;
    }
    
    body {
        background: $color__background-body;
        font-family: 'Exo', sans-serif;
        min-height: 100hv;
        color: #fff;
        /* Fallback for when there is no custom background color defined. */
    }
    
    ul {
        padding: 0;
    }
    
    blockquote,
    q {
        quotes: "" "";
        &:before,
        &:after {
            content: "";
        }
    }
    
    hr {
        background-color: $color__background-hr;
        border: 0;
        height: 1px;
        margin-bottom: $base__space-unit;
    }
    
    ul {
        li {
            display: inline-block;
            a {
                text-decoration: none;
            }
        }
    }
    
    ol {
        list-style: decimal;
    }
    
    li>ul,
    li>ol {
        margin-bottom: 0;
        margin-left: $base__space-unit;
    }
    
    dt {
        font-weight: bold;
    }
    
    dd {
        margin: 0 $base__space-unit $base__space-unit;
    }
    
    img {
        height: auto;
        /* Make sure images are scaled correctly. */
        max-width: 100%;
        /* Adhere to container width. */
    }
    
    table {
        margin: 0 0 $base__space-unit;
        width: 100%;
    }
    /********************************************************************
				for mobile and smaller than 600 px 
*********************************************************************/
    
    .red-link-para {
        //font color and size for RED Academy footer*******************
        color: #fff;
        font-size: 1rem;
        font-weight: 100;
    }
    
    .site-info {
        //using flex for menu items
        //navigation menu
        margin: 4.5rem 0 3rem;
        & li {
            line-height: 1;
            list-style-type: none;
        }
        & li:first-child {
            border-right: 1px solid #fff;
            padding-right: 1rem;
        }
        & li:nth-child(2) {
            border-right: 1px solid #fff;
            padding: 0 1rem
        }
        & li:nth-child(3) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        // margin: 4.5rem 0 3rem;
        list-style-type: none;
    }
    
    .entry-title,
    .entry-content p //font color for content text**********************
    {
        color: #fff;
        line-height: 1.5;
        font-size: 1.25rem;
        font-weight: 100;
        margin: 0;
        display: inline;
    }
    
    .entry-header {
        margin-top: 3rem;
        h1 {
            font-size: 2em;
            font-weight: 400;
        }
    }
    
    .browse-archives ul li a {
        margin-right: 1.125rem;
        display: inline-block;
        margin-bottom: .5rem;
    }
    
    .browse-archives h2 {
        font-weight: 400;
    }
    
    .page-template-default .entry-content p {
        &:nth-child(2) {
            display: block;
            margin: 1.5rem 0 0;
        }
        font-size: 1rem;
    }
    
    #new-quote-button {
        //formating button*********************************************
        border: 2px solid $color__green-text;
        background: transparent;
        color: $color__green-text;
        font-size: 1rem;
        font-family: 'Exo', sans-serif;
        padding: .5rem 2.4rem;
        margin-top: 42px;
        &:hover {
            color: $color__green-hover;
            border-color: $color__green-hover;
        }
    }
    
    .source {
        font-size: 1.25rem;
        font-weight: 100;
        font-style: italic;
    }
    
    .entry-meta {
        margin: 40px 0;
    }
    
    .logo a img {
        //resizing the header image
        width: 300px;
    }
    /*************************************************
				styling submit loged in
**************************************************/
    
    #quote-submission-form input {
        display: block;
        background-color: $color__background-body;
        border-color: $color__green-text;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }
    
    #quote-content {
        background-color: $color__background-body !important;
        border-color: $color__green-text;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }
    
    #quote-submission-form [type=submit] {
        //submit button
        color: $color__green-text;
        font-family: 'Exo', sans-serif;
        padding: .4rem 2rem;
        font-size: .9rem;
        border-radius: 3px;
        border: 1px solid $color__green-text;
    }
    
    label {
        font-weight: 100;
    }
    
    .quote-submission .entry-header {
        margin-bottom: 2rem;
    }
    
    .quote-submission p {
        font-weight: 100;
    }
    
    .type-post .entry-content {
        border-top: 1px dotted $color__background-screen;
        padding-top: 3rem;
    }
    
    .number-pagination {
        border-top: 1px dotted $color__background-screen;
        padding-top: 3rem;
    }
    
    .archive h1 {
        font-size: 1.5rem;
        font-weight: 400;
    }
    /*************************************************
				for 620 px and biger
**************************************************/
    
    @media only screen and (min-width: 620px) {
        //rsponsive for sizes biger than 600px*******************************
        body {
            background-color: rgb(113, 49, 119);
            //temp color change for media query
        }
        .logo a img {
            //resizing the header image
            width: 500px;
        }
        .site-info {
            display: flex;
            flex-wrap: wrap;
            & li:nth-child(3) {
                padding-left: 1rem;
                padding-right: 1rem;
                border-right: 1px solid #fff;
            }
        }
        .red-link-para {
            // RED Academy footer*******************
            padding-left: 1rem;
        }
        .entry-content p //font color for content text**********************
        {
            line-height: 1.5;
            font-size: 1.7rem;
            font-weight: 100;
        }
        #new-quote-button {
            //formating button*********************************************
            font-size: 1.2rem;
        }
        .browse-archives ul li a {
            font-size: 1.25rem !important;
        }
    }
    /*************************************************
				for 1080 px and biger
**************************************************/
    
    @media only screen and (min-width: 1080px) {
        //rsponsive for sizes biger than 600px*******************************
        body {
            background-color: rgb(75, 16, 19);
            //temp color change for media query
        }
        .site-content {
            margin: 4.5rem 175px 1.5rem;
            position: relative;
        }
        #new-quote-button {
            //formating button*********************************************
            margin: 0 auto;
            display: block;
        }
        .site-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        .logo a img {
            //resizing the header image
            width: 700px;
            display: block;
            margin: 0 auto;
        }
        .entry-content p //font color for content text**********************
        {
            line-height: 1.5;
            font-size: 2.5rem;
            font-weight: 100;
        }
        .site-content {
            //defining quotes around the entry content
            &::before {
                content: '\f10d';
                font-family: 'FontAwesome';
                position: absolute;
                left: -150PX;
                top: -30px;
                font-size: 8rem;
                color: $color__green-text;
            }
            &::after {
                content: '\f10e';
                font-family: 'FontAwesome';
                position: absolute;
                right: -150PX;
                top: -30px;
                font-size: 8rem;
                color: $color__green-text;
            }
        }
    }